html body {
	margin: 0px;
	padding: 0px;
}

/*-----------SECTION THAT KEEPS EVERYTHING ALIGNED-----------*/

.container {
	overflow: hidden;
	margin: 0px auto;
	width: 75vw;
}

/*----------------------HEADER BAR---------------------------*/

#header {
	background: #ffffff;
	position: relative;
	padding: 3vw;
}

/*-----------------LOGO AND WEBSITE TITLE--------------------*/

#logo {
	position: absolute;
	top: 0.25vh;
	left: 6vw;
	font-family: 'Nunito Sans', sans-serif;
	text-transform: uppercase;
	color:#4C7149;
	/* font-size: 16px; */
}

.logo-img {
	position: absolute;
	top: 3vh;
	left: 2vw;
}

/*-------------------NAVIGATIONAL BAR------------------------*/

#navbar {
	position: absolute;
	top: 2vh;
	right: 2vw;
}
	
#navbar ul {
	display: inline-block;
}
	
#navbar li {
	display: block;
	float: left;
	text-align: center;
}
	
#navbar li a {
	padding: 2vw;
	letter-spacing: 0.25vw;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.25vw;
	color:#000000;
	font-weight: 700;
}
	
#navbar li:hover a {
	text-decoration: underline;
	color: #4C7149;
}

/*-------------PLANT INTRODUCTION HEADER IMAGE---------------*/

.header-image {
	position: relative;
	text-align: center;
  }

/*-----------HEADER TEXT ONTOP OF THE HEADER IMAGE-----------*/

.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 4vw;
}

/*------CONTENT ON THE LIGHT PAGES - TOOLS AND WATERING------*/

#content-light {
	padding: 10vw;
	text-align: left;
	color: #000000;
}

#content-light h1 {
	color: #000000;
	font-family: 'Montserrat', sans-serif;
}

#content-light p {
	color: #000000;
	font-family: 'Nunito Sans', sans-serif;
}

/*--CONTENT ON THE DARK PAGES - GENERAL TIPS AND BEGINNER PLANTS--*/

#content-dark {
	overflow: hidden;
	padding: 10vw;
	background: #012416;
	text-align: right;
}

#content-dark h1 {
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

#content-dark p {
	color: #ffffff;
	font-family: 'Nunito Sans', sans-serif;
}

/*--------------SPLITTING THE PHOTO AND TEXT-----------------*/

.split-left {
	width: 50%;
	/* padding-top: 0vh; */
	padding-right: 7vw;
	float: left;

}

.split-right {
	width: 50%;
	/* padding-top: 0vh; */
	padding-left: 7vw;
	float: right;
	text-align: left;
}