body{
    margin: 0vw;
    margin-top: 1vh;
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: 94vh;
}
/*----------------------TOP NAV BAR---------------------------*/

#header {
	background: #ffffff;
	padding: 1vw;
}
/*-------------------NAVIGATIONAL BAR------------------------*/

#navbar {
    right: 2vw;
    float: right;
    padding-top: 1vw;
}
	
#navbar ul {
	display: inline-block;
}
	
#navbar li {
	display: block;
	float: left;
	text-align: center;
}
	
#navbar li a {
	padding: 2vw;
	letter-spacing: 0.25vw;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.30vw;
	color:#000000;
	font-weight: 700;
}
	
#navbar li:hover a {
	text-decoration: underline;
	color: #4C7149;
}

/*-----------------LOGO AND WEBSITE TITLE--------------------*/

.logo h1 {
	font-family: 'Nunito Sans', sans-serif;
	text-transform: uppercase;
    color:#4C7149;
    float: left;
    font-size: 2.5vw;
    padding-top: 0.10em;
    padding-left: 0.5em;
}

.logo img{
    float: left;
    padding-top: 1em;
    padding-left: 1vw;
}

/*-------------PLANT INTRODUCTION HEADER IMAGE---------------*/

.header-image {
    background-image: url("introImages/filler.jpg");
    width: auto;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header-image h1 {
    color: #ffffff;
	font-family: 'Montserrat', sans-serif;
    font-size: 6vw; 
    text-align: center;
    padding: 10vw;
  }

h1{
    font-size: 4vw;
    text-transform: uppercase;
    margin: 1vw;
    text-align: center;
    padding: 2vw;
}

/*-------------white section blocks---------------*/
.white-block {
    padding: 9vw;
	text-align: left;
	color: #000000;
}

.white-block h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    text-align: left;
}

.white-block p{
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 2vw;
}

/*-------------dark section blocks---------------*/

.dark-block {
    /* padding: 10vw; */
    color: #ffffff;
	padding: 10vw;
    background-color: #012416;
    /* overflow: hidden; */
}

.dark-block h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    text-align: left;
    padding-left: 0vw;

}

.dark-block p{
    font-family: 'Nunito Sans', sans-serif;
    padding-right: 2vw;
}

@media only screen and (min-width: 900px){

    #layoutThree{
        display: grid;
        grid-template-areas: 
        'A A B B'
        ;
    }

} 

@media only screen and (min-width: 600px) and (max-width: 900px){

    #layoutThree{
        display: grid;
        grid-template-areas: 
        'A A A'
        'B B B'
        ;
    }

} 

@media only screen and (max-width: 600px){

    #layoutThree{
        display: grid;
        grid-template-areas:
        'A'
        'B'
        ;
    }

} 