html{
	height: 100%;
	width: 100%;

}
body{
    font-family: 'Nunito Sans';
    font-size: 22px;
    background-image: url(../images/landingImage.jpg);

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}


h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 96px;
	font-weight: 700;
	color: white;
}

h2{
	font-size: 24px;
}

.title{
	position: absolute;
	float: right;
	top: 45%;
	left: 70%;
	transform: translate(-50%, -50%);
}




#titleImage{
	width: 600px;
	margin: auto;
}

#pageAbout{
	color: white;
	margin: auto;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

.navContainer{
		position: absolute;
		width: 100%;
		top: 75%;
		left: 70%;
		margin: auto;
		transform: translate(-50%, -50%);
		
}

nav{
	 text-align: center;
}

a{
	margin: 20px;
	color: white;
	text-decoration: none;
	padding: 15px;
	transition: 0.3s ease-out;
	border-radius: 30px;
	background-color: #E78336;
	border: 2px solid #E78336;
}

a:hover{
	margin: 20px;
	color: #E78336;
	text-decoration: none;
	padding: 15px;
	transition: 0.3s ease-out;
	border-radius: 30px;
	background-color: white;
	border: 2px solid #E78336;
}

.mobileTitle{
	display: none;
}



.titleMobile{
	display: none;
}



@media (max-width: 600px) {

	#titleImage{
		display: none;
	}

	#pageAbout{
		display: none;
	}

	html{
		height: 100%;

	}
	.titleMobile{
		display: block;
		padding-top: 20%;
		margin: 0;
		
	}

	#logoMobile{
		width: 10%;
		display: block;
		margin: auto;
	}

	#pageTitleMobile{
		font-size: 52px;
		text-align: center;
	}

	#pageAboutMobile{
		display: block;
		color: white;
		margin: auto;
		width: 65%;
		text-align: center;
		font-size: 18px;
}

	.navContainer{
		padding-top: 30px;
		width: 60%;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		
}

	nav{
		display: block;
	 	text-align: center;

}

	a{

		display: block;
		font-size: 18px;
		color: white;
		text-decoration: none;
		transition: 0.3s ease-out;
		border-radius: 30px;
		background-color: #E78336;
		border: 2px solid #E78336;
}

	a:hover{
		color: #E78336;
		text-decoration: none;
		transition: 0.3s ease-out;
		border-radius: 30px;
		background-color: white;
		border: 2px solid #E78336;
	}


}





